# Base and Data Directories
BASE_DIR=/content/drive/MyDrive/ML_project
DATA_DIR=/content/drive/MyDrive/ML_project/data/bonn

# Data and Model Constants
BATCH_SIZE=64
SEQ_LEN=4097
USE_FREQ_BANDS=True
IN_CHANNELS=6

# Training Constants
NUM_TRIALS=2
WARMUP_EPOCHS=20
JOINT_EPOCHS=40
TARGET_ACC=0.94
LEARNING_RATE=0.001
WEIGHT_DECAY=0.0001
